body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #f3ec78, #af4261);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #af4261;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #f3ec78;
    color: #af4261;
}

button:active {
    transform: scale(0.98);
}

label {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

label.show {
    opacity: 1;
    transform: translateY(0);
}